.mensaje{
	background-color: #ddd;
	padding: 1em;
	margin-top:1.2em 
}

.gris{
	background-color: #eee;
}

.azul{
	background-color: navajowhite;
}

table th{	
	padding: 2px 4px;
	text-align: center;
}

table td{
	text-align: center;
	padding: 2px 4px;
}